## Assignment and Data Types
You assign variables using the assingment operator "=". Unlike other programming languages, Python has no command for declaring a variable. They do not need to be declared with any particular type and can even change type after they have been set. Python determines the type dynamically (and hence is known as "dynamically-typed").

In Python, the built-in function type() is used to check data type.

In [4]:
my_name = 'Mitch'
type(my_name)

str

In [5]:
my_age = 27
type(my_age)

int

In [6]:
my_height_m = 1.8
type(my_height_m)

float

In [7]:
from datetime import datetime
my_birthday = datetime(1991, 11, 6)
print(my_birthday)
type(my_birthday)

1991-11-06 00:00:00

datetime.datetime

Now lets see what happens when we do some comparisons and mathematical operations:

In [8]:
my_age < 30

True

In [9]:
my_height_m > my_age

False

In [10]:
my_name < 10

TypeError: '<' not supported between instances of 'str' and 'int'

In [11]:
len(my_name) < 10

True

In [12]:
my_name * 3

'MitchMitchMitch'

In [13]:
my_name + my_age

TypeError: must be str, not int

In [14]:
my_name + str(my_age)

'Mitch27'

In [15]:
print(my_age + my_height_m)
type(my_age + my_height_m)

28.8

float

In [16]:
my_age > my_birthday

TypeError: '>' not supported between instances of 'int' and 'datetime.datetime'

You may have noticed the function used in the last cells: `str(var)`

This function performs a type coercion. The passed variable is coerced to a string. There are a number of built-in functions to coerce variable types:

* `str()`
* `bool()`
* `int()`
* `float()`

Let's test them out below:

In [17]:
str(my_age)

'27'

In [18]:
float(my_name)

ValueError: could not convert string to float: 'Mitch'

In [19]:
int(my_name)

ValueError: invalid literal for int() with base 10: 'Mitch'

In [20]:
float(my_age)

27.0

In [21]:
str(my_birthday)

'1991-11-06 00:00:00'

In [22]:
int(my_birthday)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'datetime.datetime'

## Errors

The following lines of code are examples of some common syntax errors.

In [1]:
dog = 'staffie

SyntaxError: EOL while scanning string literal (<ipython-input-1-24c4f0838057>, line 1)

Above we get the SyntaxError: "EOL while scanning string literal".  This is because we did not close the quotation mark when defining our string. The arrow in the traceback points to where the interpreter found the error.

In [2]:
equation = (2 * (5 + 7)) / ((2 + 3) * (10 + 1)

SyntaxError: unexpected EOF while parsing (<ipython-input-2-fa3e6621dc26>, line 1)

Above we get another Syntax Error, this time "unexpected EOF while parsing". This is because we missed a closing bracket in our equation assignment. This is a very common syntax error.

In [3]:
octopus = True
if octopus == True
    legs = 8

SyntaxError: invalid syntax (<ipython-input-3-7222a5feff32>, line 2)

The Syntax Error expressed above does not provide much detail. However, from what is known about the syntax of 'if' and 'else' statements it is that the conditional statement should be followed by a colon ":".

## Pointers
You have to be aware of pointers when assigning variables. If you are assigning a copy, or a slice, or some mutation or operation on a variable to another variable, then it creates a separate address for that variable and you can then use both defined variables (with different values) in your expressions.

However, if you simply assign a new variable with the name of an existing variable, the value within the new variable is a pointer to the memory address of the old value, rather than a copy of that value.

See the examples below for a demonstration:

In [ ]:
# First let's define a list variable
a = [1, 2, 3]
print(a)

# If we perform an operaton or a slice, then a new value is created for our new variables
b = a[0:2]
print(b)

print('a is still: ')
print(a)

In [ ]:
# However, if we set a = b and then perform a list operation, we are actually modifying the original value stored at a.
b = a
b.append(5)
b.append(6)
print(b)

print('a is now changed as defined by b: ')
print(a)

In [ ]:
# To get around this problem, you need to explicitly define a copy using the built-in copy() method.
a = [1, 2, 3]
print(a)

b = a.copy() # Create a copy
b.append(5)
b.append(6)
print(b)

print('The value in b is now a copy and the value stored at a remains unchanged: ')
print(a)

## Aliasing
Aliasing is commonly used to define a simpler namespace for a commonly used package. Take `pandas` for example. You can simply import `pandas`, but it is common practice to import `pandas` with the alias `pd`. See both uses below:

In [ ]:
import pandas
index = ['one', 'two', 'three']
columns = ['a', 'b']
pandas.DataFrame([[3, 7], [2, 8], ['cat', 'dog']], index=index, columns=columns)

In [ ]:
import pandas as pd
pd.DataFrame([[3, 7], [2, 8], ['cat', 'dog']], index=index, columns=columns)

You are also able to alias functions to other names, demonstrated below:

In [ ]:
df = pd.DataFrame
df([[3, 7], [2, 8], ['cat', 'dog']], index=index, columns=columns)

Generally, you want to be explicit about where your functions are coming from. So using the namespaces is a good idea unless aliasing will save you a lot of typing.